In [14]:
2 or 3

2

In [3]:
type(1)

int

In [4]:
bin(2+5)

'0b111'

In [7]:
print(abs(-3),divmod(13,2),pow(3,2,2))

3 (6, 1) 1

In [9]:
input("enter any strings:")

enter any strings:aa

'aa'

In [11]:
import math
a=math.ceil(12.7)
b=math.floor(1.7)
print(a,b,sep="切り上げ",end="切り捨て")

13切り上げ1切り捨て

In [42]:
print(math.sin(math.pi/4))

0.7071067811865476

In [16]:
math.factorial(3)#階乗

6

In [18]:
math.inf

inf

In [20]:
from random import randint #randomモジュールから randintという関数を読み込み
randint(1,6)

4

In [25]:
from random import randint as dice
dice(1,6)

5

In [26]:
s="Hello Python"
s.upper()#大文字に変換 メソッドというもの

'HELLO PYTHON'

In [33]:
st.count("mi")

1

In [37]:
st.rfind("i",-1,-3)#rfindは後ろから指定の文字を探す

-1

In [27]:
s.swapcase()

'hELLO pYTHON'

In [28]:
s.capitalize()

'Hello python'

In [31]:
st="my name is jun midorikawa"
st.title()

'My Name Is Jun Midorikawa'

In [38]:
st.replace("u","ho")

'my name is jhon midorikawa'

In [39]:
str="im junjunjunjunuujn"
str.rstrip("ujn")

'im '

In [43]:
stri="{}、{}、{}色のチューリップがありました。"
text=stri.format("赤","青","黄")
print(text)

赤、青、黄色のチューリップがありました。

In [46]:
red="赤";blue="青";yellow="黄"
text=f"{red}、{blue}、{yellow}色のチューリップがありました。"
print(text)

赤、青、黄色のチューリップがありました。

In [49]:
tokyo=123456000
kyoto=53900
print(f"東京{tokyo:,},京都{kyoto:,}")

東京123,456,000,京都53,900

In [50]:
tokyo=123456000
kyoto=53900
s="東京{:,},京都{:,}"
s.format(tokyo,kyoto)

'東京123,456,000,京都53,900'

In [54]:
num=5764.385
print(f"{num:,.2f}")

5,764.39